
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 50px;	

}

.flex-body-container{
	
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
}

.flex-category-container{

	display: flex;
	justify-content: right;	
	gap: 50px;

	width: 60%;	
}

.flex-sorting-container{

	display: flex;
	justify-content: right;

	width: 100%;
	
}

.post-container{

	padding-top: 50px;

	display: grid;
	grid-template-columns: repeat(5, 1fr);;
	
	gap: 30px;		

}

.post-container > a {

	text-decoration: none;
	color: #000;
}

.post-template{

	display: flex;
	flex-wrap: wrap;

	padding: 20px;
	border: solid black 1px;

	-webkit-box-shadow: 8px 8px 13px -14px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 8px 13px -14px rgba(66, 68, 90, 1);
	box-shadow: 8px 8px 13px -14px rgba(66, 68, 90, 1);

	align-items: stretch;
    	
	max-height: 100%;
    	height: 100%;

	width: 95%;
}

.post-author{

	margin-top: 10px;
	color: #b7b7b7;
}

.post-title{
	
	margin-top: 10px;
	font-size: 1.6em;
}

.post-excerpt{

	margin-top: 10px;
}

.pagination{
	display: flex;
	justify-content: center;
	width: 100%;
	
}

