body{
	margin: 0;
	padding: 50px;	

}

.flex-body-container{
	
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
}

.flex-category-container{

	display: flex;
	justify-content: right;	
	gap: 50px;

	width: 60%;	
}

.flex-sorting-container{

	display: flex;
	justify-content: right;

	width: 100%;
	
}

.post-container{

	padding-top: 50px;

	display: grid;
	grid-template-columns: repeat(5, 1fr);;
	
	gap: 30px;		

}

.post-template{

	display: grid;

	padding: 20px;
	background: red;


}


.post-title{
	
	margin-top: 10px;
}

.post-excerpt{

	margin-top: 10px;
}
