<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'blog/style.css' %}">
	{% if posts %}
		{% for post in posts %}
			<style>
				.post-image{{ forloop.counter }}{
					width: 225px;
					height: 225px;
					background-image: url("{{ post.get_image_url }}");
					background-attachment: inherit;
					background-size: cover;
					background-position: center;
				}
			</style>
		{% endfor %}
	{% endif %}
</head>
<body>
	<div class="flex-body-container">
	{% if categories %}
		<div class="flex-category-container">
			<span class="category-link" name="category" id="cat-default"><a href="{% url 'blog:index' %}">All articles</a></span>
			{% for category in categories %}
			<span class="category-link" name="category" id="cat{{ forloop.counter }}"><a href="{% url 'blog:category_detail' category.slug %}">{{ category.name }}</a></span>
			{% endfor %}
	{% else %}
		<p>There aren't categories.</p>
	{% endif %}
		</div>
	<div class="flex-sorting-container">
		<form method="GET" action="">
			<select id="menu-sorting sort" name="sorting" onchange="this.form.submit()">
				<option value="by_date_asc" {% if sorting == 'by_date_asc' %}selected{% endif %}>order by date ASC</option>
				<option value="by_date_desc" {% if sorting == 'by_date_desc' %}selected{% endif %}>order by date DESC</option>
			</select>
		</form>
	</div>

	{% if posts %}
		<div class="post-container">
		{% for post in posts %}
			<div class="post-template">
				<div class="post-image{{ forloop.counter }}"></div>
				<span class="post-title">{{ post.title }}</span>
				<div class="post-excerpt">{{ post.get_excerpt }}</div>
			</div>
		{% endfor %}
	{% else %}
		<p>There aren't posts.</p>
	{% endif %}
		</div>
	</div>
</body>
</html>

